    <div class="information-wrapper">
        <div id="about">
            <h1>Based in Barcelona. She works mainly in analog format. Specialized in creative and fashion photography, she has also worked in still photography and BTS photography in several productions.</h1>
            <h1>Graduated in Fine Arts at the Faculty of Fine Arts from the University of Barcelona (2018), she complements her artistic training for six years at Traç School (Barcelona), at the Institute of Photographic Studies of Catalonia (Barcelona) with monographic courses and at Eina school (Barcelona) with a Postgraduate Course in Photography and Editorial Design (2020).</h1>
        </div>
        <div id="credits">
            <p>Design and Development, <a href="https://www.acanovas.info/">www.acanovas.info</a></p>
        </div>
    </div>
    <div class="information-wrapper">
        <div id="clients-contact">
            <div id="clients">
                <div>
                    <p>SELECTED CLIENTS</p>
                </div>
                <div>
                    <ul>
                        <li>Adidas</li>
                        <li>Estrella Damm</li>
                        <li>Nike</li>
                        <li>Netflix</li>
                        <li>Soccerbibile</li>
                        <li>Neo2 Magazine</li>
                        <li>Trax Magazine</li>
                        <li>Bad Gyal</li>
                        <li>Quevedo</li>
                        <li>Belén Aguilera</li>
                        <li>Alexia Putellas</li>
                    </ul>
                </div>
            </div>
            <div id="contact">
                <div>
                    <p>CONTACT</p>
                </div>
                <div>
                    <ul>
                        <li><a id="email-link" href="mailto:hello@nataliacornudella.com">hello@nataliacornudella.com</a></li>
                        <li><a id="phone-link" href="tel:+34644782458">0034 644 782 458</a></li>
                        <li><a id="instagram-link" href="https://www.instagram.com/natalia.cornudella/">@nataliacornudella</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="credits-wrapper">
            <div id="copyright">
                <p>© 2024, All rights reserved</p>
                <div id="credits-mobile">
                <p>Design and Development, <a href="https://www.acanovas.info/">www.acanovas.info</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="close-info-btn-wrapper">
        <a href="#" id="close-info-button">Close</a>
    </div>
</div>
