    <div class="information-wrapper">
        <div id="about">
            <h1>Natàlia Cornudella (1996) is a fashion photographer based in Barcelona. Her work combines digital and film photography to suit the demands of each project. She works for fashion brands, and commercials, and also as a still photographer for the music industry. Although she navigates various formats, her style as a photographer has mainly centered on portraiture. She graduated from the Faculty of Fine Arts at the University of Barcelona in 2018 and complemented her degree with monographic courses at IEFC and a postgraduate course in photography and editorial design at Eina.</h1>
        </div>
        <div id="credits">
            <p>Design and Development, <a href="https://www.acanovas.info/">www.acanovas.info</a></p>
        </div>
    </div>
    <div class="information-wrapper">
        <div id="clients-contact">
            <div id="clients">
                <div>
                    <p>SELECTED CLIENTS</p>
                </div>
                <div>
                    <ul>
                        <li>Nike</li>
                        <li>Adidas</li>
                        <li>Estrella Damm</li>
                        <li>Cupra</li>
                        <li>Netflix</li>
                        <li>Bad Gyal</li>
                        <li>Mushka</li>
                        <li>Belén Aguilera</li>
                        <li>Nude Project</li>
                        <li>Time Out</li>
                        <li>Soccerbible</li>
                        <li>Acero</li>
                        <li>Vanidad</li>
                    </ul>
                </div>
            </div>
            <div id="contact">
                <div>
                    <p>CONTACT</p>
                </div>
                <div>
                    <ul>
                        <li><a id="email-link" href="mailto:natalia.cornudella@gmail.com">natalia.cornudella@gmail.com</a></li>
                        <li><a id="phone-link" href="tel:+34644782458">0034 644 473 772</a></li>
                        <li><a id="instagram-link" href="https://www.instagram.com/natalia.cornudella/">@nataliacornudella</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="credits-wrapper">
            <div id="copyright">
                <p>© 2024, All rights reserved</p>
                <div id="credits-mobile">
                <p>Design and Development, <a href="https://www.acanovas.info/">www.acanovas.info</a></p>
                </div>
            </div>
        </div>
    </div>
    <div id="close-info-btn-wrapper">
        <a href="#" id="close-info-button">Close</a>
    </div>
</div>
